body {
  background-color: black;
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1 {
  font-size: 100px;
  padding-bottom: 20px;
  color: white;
}

.searchBox {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.searchBox input {
  height: 50px;
  width: 50%;
  font-size: 20px;
  font-weight:600;
}

.searchBox button {
  height: 50px;
  width: 10%;
  font-size: 20px;
  font-weight: 700;
}