body {
  background-color: black;
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1 {
  font-size: 100px;
  padding-bottom: 20px;
}

.counter-buttons {
  display: flex;
  justify-content:space-between;
  gap: 20px;
}

.counter-buttons button {
  font-size: 20px;
  padding: 20px;
  border-radius: 50px;
}

@media (max-width: 1000px ) {
  body {
    background-color: grey;
  }
}